/*********************  Default-CSS  *********************/

html body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
}

.anim{
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
  text-decoration: none;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

ul, li{
  margin: 0;
  padding: 0;
}

a,
span,
a:hover,
a:active,
button {
  text-decoration: none;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:focus, button:focus, input:focus, select:focus {
  outline: none;
}

a:hover {
  color: #000;
}

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}

* {
  outline: none !important;
}


body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
p{
  margin: 0;
}

img {
  max-width: 100%;
}

.main-wrapper {
  overflow-x: hidden;
}


/*********************  Default-CSS close  *********************/

